html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.4rem;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.listaImagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .9rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.capasSlime {
    /* flex: 1 1 calc(20% - 1rem);  */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul img {
    width: 100%;
    height: auto;
    max-width: 15rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .capasSlime {
        flex: 1 1 calc(25% - 1rem); /* 4 items per row */
    }
}

@media (max-width: 900px) {
    .capasSlime {
        flex: 1 1 calc(33.33% - 1rem); /* 3 items per row */
    }
}

@media (max-width: 600px) {
    .capasSlime {
        flex: 1 1 calc(50% - 1rem); /* 2 items per row */
    }
}

@media (max-width: 400px) {
    .capasSlime {
        flex: 1 1 calc(100% - 1rem); /* 1 item per row */
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}
